<ion-header>
    <ion-toolbar>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div style="text-align: center;">
        <img src="https://secure.gravatar.com/userimage/155271766/15a7d0f586d2b71cf0e2dfc25f5b5fe5"><br>
        <ion-label style="font-size: 30px">Developers</ion-label>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="font-size: 20px;display: block">
            <ion-label>José Aleixo Filho</ion-label>
            <br>
            <br>
            <ion-label>Thayllan Anacleto</ion-label>
            <br>
            <br>
            <ion-label>Rodrigo Veira</ion-label>

        </div>
    </div>
</ion-content>
